
    {% extends "home.html" %}

    {% block content %}
    <h1> This is all our leads </h1>
    {% for lead in leads %}
    <div class="leads">
       <a href="{% url 'leads:lead_detail' lead.pk %}"> {{lead.first_name}} {{lead.last_name}} </a>
    </div>
    {% endfor %}

    <h1> This is all our Agents </h1>
    {% for agent in agents %}
    <div class="leads">
        {{agent}}
    </div>
    {% endfor %}

    <hr>
    <div class="create_lead">
        <a href="{% url 'leads:lead_create' %}">Create New Lead</a>
    </div>

    {% endblock content%}
