{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'css/main.css' %}
    <title>Customer Lead project</title>
    {% tailwind_css %}

    <style>
        .leads{
            padding: 10px, 6px;
            margin-top: 6px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}

{% include 'script.html' %}
</body>
</html>